org:
  hibernate:
    dialect:


spring:
  jpa:
    show_sql: true

    hibernate:
      ddl-auto: create

---
spring:
  config:
    activate:
      on-profile: hyunkim


  datasource:
    url: jdbc:h2:tcp://localhost/~/test;MODE=MySQL;DATABASE_TO_LOWER=TRUE;IGNORECASE=TRUE # mysql compatible h2
    driver-class-name: org.h2.Driver
    username: sa
    password:
